.git
.gitignore
.env
.venv
venv
Include
Lib
Scripts
pyvenv.cfg
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-wheel-metadata
build
dist
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
Thumbs.db
